{
  extends: [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
  ],
  plugins: [
    "react",
    "import",
  ],
  parser: "babel-eslint",
  env: {
    node: true,
    browser: true
  },
  rules: {
    arrow-body-style: 0,
    import/no-extraneous-dependencies: [
      "error",
      {
        devDependencies: [
          "**/*.tests.js",
          "**/test-setup.js"
        ]
      }
    ],
    import/prefer-default-export: 0,
    react/no-unused-prop-types: 0,
    react/sort-comp: 0,
    react/prop-types: 0,
    arrow-parens: 0,
    prefer-const: 2,
    no-var: 2,
    quotes: [2, "single"],
    semi: [2, "never"]
  }
}